@use '@/style/elevate' as *;

.health-button {
  height: 32px;
  width: 32px;
  font-size: 100%;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #162029;
  cursor: pointer;

  &--increase {
    background: linear-gradient(145deg, #2f4256, #91bd91);
  }

  &--decrease {
    background: linear-gradient(145deg, #2f4256, #f17979);
  }

  & + .health-button {
    margin-left: 8px;
  }
}
