.health-button {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  border: 0;
  font-size: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: linear-gradient(145deg, #2f4256, #283848);
  box-shadow: 0.5rem 0.5rem 1rem #162029, -0.25rem -0.25rem 1rem #425c77;

  &--increase:hover {
    background: linear-gradient(145deg, #2f4256, #91bd91);
  }

  &--decrease:hover {
    background: linear-gradient(145deg, #2f4256, #f17979);
  }

  + .health-button {
    margin-left: 8px;
  }
}
